<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item> Settings </button>
      <button mat-menu-item> Help </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <span>Hoodpub</span>

    <span class="example-spacer"></span>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<form class="form-inline">
  <div class="form-group">
    <input type="search"
           class="form-control"
           placeholder="Enter search string"
           [formControl]="searchField">
  </div>
</form>

<tr *ngFor="let user of users$ | async" class="container-userbook">
  <div class="container-user">
    {{ user.first_name}}
    <img src="{{ user.image_profile.thumbnail}}" class="round">
  </div>

  <div class="container-book">
    <div *ngFor="let userbook of user.userbooks">
      <img src="{{ userbook.book.cover_s_url}}" >
    </div>
  </div>
  
</tr>

